<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pirus</title>


    <!-- Base -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Datagrid -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!-- Form generator -->
    <link rel="stylesheet" href='/assets/brutusin/css/brutusin-json-forms.min.css'/>
    <script src="/assets/brutusin/js/brutusin-json-forms.min.js"></script>


    <!-- Pirus specific -->
    <link rel="stylesheet" href="/assets/pirus.css"/>
    <link rel="stylesheet" href="/assets/font-awesome-4.6.3/css/font-awesome.min.css"/>

</head>
<body>
    <div style="position: fixed; top:0; left:0; z-index:2000;"">
        <img src="/assets/logo.png" width="100px" />
    </div>

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a data-toggle="tab" href="#overview"><i class="fa fa-bar-chart" aria-hidden="true"></i> Overview</a></li>
                    <li><a data-toggle="tab" href="#files"><i class="fa fa-file-o" aria-hidden="true"></i> Files</a></li>
                    <li><a data-toggle="tab" href="#pipes"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Pipelines</a></li>
                    <li><a data-toggle="tab" href="#runs"><i class="fa fa-tasks" aria-hidden="true"></i> Runs <span class="badge">5</span></a></li>
                    <li><a data-toggle="tab" href="#api"><i class="fa fa-code" aria-hidden="true"></i> API</a></li>
                    <li><a data-toggle="tab" href="#help"><i class="fa fa-question" aria-hidden="true"></i> Help</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container theme-showcase" role="main">
        <h1 class="content-subhead" style="margin-top:70px"><i class="fa fa-retweet" aria-hidden="true"></i> WS [ <span id="message"></span> ]</h1>
        <div class="tab-content">

            <!--          -->
            <!-- OVERVIEW -->
            <!--          -->
            <div id="overview" class="tab-pane fade in active">
                <h1 class="content-subhead"><i class="fa fa-user" aria-hidden="true"></i> Online</h1>
                <ul id="userList"></ul>
            </div>


            <!--       -->
            <!-- FILES -->
            <!--       -->
            <div id="files" class="tab-pane fade">
                <h1 class="content-subhead"><i class="fa fa-file-o" aria-hidden="true"></i> Files</h1>
                <form id="uploadFileForm" method="POST" enctype="multipart/form-data" action="http://{{ hostname }}/file" class="pure-form">
                <fieldset>
                    <div class="fileUpload btn btn-default">
                        <span><i class="fa fa-file-archive-o" aria-hidden="true"></i> Select a file</span>
                        <input type="file" name="uploadFile" id="uploadFile" class="upload" />
                    </div>
                    <input type="submit" value="Upload the file on the server" class="btn btn-primary btn btn-primary-primary"/>
                </fieldset>
                </form>

                {% if files|length ==0 %}
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> No file available on the server.
                </div>
                {% endif %}
                <table id="fileList" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    {% for f in files %}
                    <tr>
                        <td>{{ f["file_name"] }}</td>
                        <td>{{ f["file_size"] }}</td>
                        <td>{{ f["status"] }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-default btn-xs disabled" title="Delete file"                onclick="javascript:delete_file('{{f["id"]}}')"><i class="fa fa-trash" aria-hidden="true"> delete</i></a> 
                                <a class="btn btn-default btn-xs" title="Information about the file" href="http://{{ hostname }}/file/{{f["id"]}}" target="_blanck"><i class="fa fa-info" aria-hidden="true"> info</i></a> 
                                <a class="btn btn-default btn-xs" title="Download the file"          href="http://{{ hostname }}/dl/f/{{f["id"]}}" target="_blanck"><i class="fa fa-file" aria-hidden="true"> download</i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>


            <!--           -->
            <!-- PIPELINES -->
            <!--           -->
            <div id="pipes" class="tab-pane fade">
                <h1 class="content-subhead"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Pipelines</h1>

                {% if pipes|length ==0 %}
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> No pipeline installed.
                </div>
                {% endif %}
                <table id="pipesList" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% for p in pipes %}
                    <tr>
                        <td style="vertical-align: middle;"><img src="{{ p["logo"] }}" style="height:30px; width:30px; vertical-align:middle;"/> &nbsp; {{ p["name"] }} <i>({{ p["version"] }})</i></td>
                        <td style="vertical-align: middle;">{{ p["description"] }}</td>
                        <td style="vertical-align: middle;">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default btn-xs" title="Uninstall the pipeline package" onclick="javascript:delete_pipeline('{{p["id"]}}')"><i class="fa fa-trash" aria-hidden="true"></i></a> 
                                <a class="btn btn-default btn-xs" title="Information about the pipeline" href="http://{{ hostname }}/pipeline/{{p["id"]}}" target="_blanck"><i class="fa fa-info" aria-hidden="true"></i></a> 
                                <a class="btn btn-default btn-xs" title="Get Formular files information" href="{{p["form_json"]}}" target="_blanck"><i class="fa fa-file" aria-hidden="true"> form</i></a> 
                                <a class="btn btn-default btn-xs" title="Get Config files information"   href="{{p["config_json"]}}" target="_blanck"><i class="fa fa-file" aria-hidden="true"> conf</i></a> 
                            </div>
                            &nbsp;
                            <a class="btn btn-success btn-xs" title="Run the pipeline" data-toggle="modal"  href="#runConfigModal" onclick="javascript:init_run('{{p["id"]}}')"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <h1 class="content-subhead"><i class="fa fa-plus" aria-hidden="true"></i> Install a new pipeline</h1>
                    <form id="installPackageForm" method="POST" enctype="multipart/form-data" action="http://{{ hostname }}/pipeline" class="pure-form">
                        <fieldset>
                            <div class="fileUpload btn btn-primary">
                                <span><i class="fa fa-file-archive-o" aria-hidden="true"></i> Select Pirus package</span>
                                <input type="file" type="file" name="pipepck" id="pipepck" class="upload" />
                            </div>
                            <input type="submit" value="Install" class="btn btn-primary btn btn-primary-primary"/>
                        </fieldset>
                    </form>
            </div>


            <!--      -->
            <!-- RUNS -->
            <!--      -->
            <div id="runs" class="tab-pane fade">
                <h1 class="content-subhead"><i class="fa fa-tasks" aria-hidden="true"></i> Runs</h1>
                {% if runs|length ==0 %}
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> No run have been launched.
                </div>
                {% endif %}
                <table id="runsList" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% for p in runs %}
                    <tr>
                        <td>{{ p["runname"] }}<br><span style="color:@gray-light">id : {{ p["id"] }}</span></td>
                        <td id="run-{{ p["id"] }}-progress">
                            <div class="progress">
                                <div class="progress-bar {% if p["status"] == "FAILLED" %}progress-bar-danger{% endif -%}{% if p["status"] == "RUN" %}progress-bar-striped active{% endif -%}{% if p["status"] == "DONE" %}progress-bar-success{% endif -%}" 
                                     role="progressbar" aria-valuenow="{{ p["progress"]["value"] }}" aria-valuemin="0" aria-valuemax="100" 
                                     style="min-width: 2em; width: {{ p["progress"]["value"] }}%;">
                                    {{ p["progress"]["value"] }} %
                                </div>
                            </div>
                        </td>
                        <td style="vertical-align: middle;">{{ p["status"] }}</td>
                        <td style="vertical-align: middle;">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default btn-xs" title="Information about the run" href="http://{{ hostname }}/run/{{p["id"]}}" target="_blanck"><i class="fa fa-info" aria-hidden="true"> info</i></a> 
                                <a class="btn btn-default btn-xs" title="Output log file" href="http://{{ hostname }}/run/{{p["id"]}}/log" target="_blanck"><i class="fa fa-file-text-o" aria-hidden="true"> log</i></a>
                                <a class="btn btn-default btn-xs" title="Error log file" href="http://{{ hostname }}/run/{{p["id"]}}/err" target="_blanck"><i class="fa fa-file-text-o" aria-hidden="true"> err</i></a>
                            </div>
                            &nbsp;
                            <div class="btn-group" role="group">
                                <a class="btn btn-default btn-xs" title="Browse input files" data-toggle="modal" href="#runBrowseFile" onclick="javascript:browse_inputs('{{p["id"]}}')">
                                    <i class="fa fa-folder-open-o" aria-hidden="true"> inputs</i></a> 
                                <a class="btn btn-default btn-xs" title="Browse output files" data-toggle="modal" href="#runBrowseFile" onclick="javascript:browse_outputs('{{p["id"]}}')">
                                    <i class="fa fa-folder-open-o" aria-hidden="true"> outputs</i></a> 
                            </div>
                            &nbsp;
                            <div class="btn-group" role="group">
                                <a class="btn btn-warning btn-xs {% if p["status"] == "DONE" %}disabled{% endif -%}" title="Error log file" href="http://{{ hostname }}/run/{{p["id"]}}/err" target="_blanck">
                                    <i class="fa fa-tachometer" aria-hidden="true"> Monitor</i></a>
                                <a class="btn btn-default btn-xs {% if p["status"] == "DONE" %}disabled{% endif -%}" title="Information about the run" href="http://{{ hostname }}/run/{{p["id"]}}" target="_blanck">
                                    <i class="fa fa-stop" aria-hidden="true"></i></a> 
                                <a class="btn btn-default btn-xs {% if p["status"] == "DONE" %}disabled{% endif -%}" title="Output log file" href="http://{{ hostname }}/run/{{p["id"]}}/log" target="_blanck">
                                    <i class="fa fa-play" aria-hidden="true"></i></a>
                                <a class="btn btn-default btn-xs {% if p["status"] == "DONE" %}disabled{% endif -%}" title="Output log file" href="http://{{ hostname }}/run/{{p["id"]}}/log" target="_blanck">
                                    <i class="fa fa-pause" aria-hidden="true"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>


            <!--     -->
            <!-- API -->
            <!--     -->
            <div id="api" class="tab-pane fade">
                <h1> Comming soon</h1>
            </div>

            <!--      -->
            <!-- HELP -->
            <!--      -->
            <div id="help" class="tab-pane fade">
                <h1> Comming soon</h1>
            </div>






            <div class="modal fade" id="runBrowseFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Browse file </h4>
                        </div>
                        <div class="modal-body">
                            <p id="runBrowserContainer">Comming soon !</p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                
            <div class="modal fade" id="runConfigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-play" aria-hidden="true"></i> Configure the run</h4>
                        </div>
                        <div class="modal-body">
                            <p id="runFormContainer"></p>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <p id="runButtonContainer"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


  <script>

    var ws = new WebSocket('ws://{{ hostname }}/ws');
    var $message = $('#message');
    var BrutusinForms = brutusin["json-forms"];
    var bf, schema
    function init_run(pipe_id)
    {
        // 1- retrieve pipe-config
        $.ajax(
        {
            url: "http://{{ hostname }}/dl/p/" + pipe_id + "/form.json",
            type: "GET"
        }).fail(function()
        {
            alert( "ERROR" );
        }).done(function(json) 
        {
            var json_final = json
            var json_db = []
            var json_files = []

            if (json.indexOf("__PIRUS_DB_ALL__") != -1)
            {

                // get list of database
                $.ajax({ url: "http://{{ hostname }}/db", type: "GET", async: false}).done(function(jsonDB)
                {
                    json_db = jsonDB["data"];
                })
                json_final = json_final.replace(/"__PIRUS_DB_ALL__"/g, JSON.stringify(json_db))
            }
            if (json.indexOf("__PIRUS_INPUT_FILES__") != -1)
            {

                // get list of database
                $.ajax({ url: "http://{{ hostname }}/file", type: "GET", async: false}).done(function(jsonFile)
                {
                    data = jsonFile["data"];
                    for (var i=0; i<data.length; i++)
                    {
                        json_files[i] = data[i]["file_name"] + " [" + data[i]["id"] + "]"
                    }
                })
                json_final = json_final.replace(/"__PIRUS_INPUT_FILES__"/g, JSON.stringify(json_files))
            }
            
            var config = {}
            $.ajax({ url: "http://{{ hostname }}/dl/p/" + pipe_id + "/config.json", type: "GET", async: false}).done(function(json)
            {
                config = json["data"];
            })

            
            schema = JSON.parse(json_final);
            schema["properties"]["runname"] = {
                    "title": "Nom du run",
                    "description": "Le nom qui sera affiché pour ce run.",
                    "type": "string",
                    "required": true
                }
            
            bf = BrutusinForms.create(schema);
            var container = document.getElementById('runFormContainer');
            container.innerText = ""
            bf.render(container, null);

            var container = document.getElementById('runButtonContainer');
            container.innerHTML = '<a class="btn btn-primary" title="Run the pipeline" onclick="javascript:post_run('+ "'" + pipe_id + "'" + ')"><i class="fa fa-play" aria-hidden="true"></i></a>'
        })
    }





    $( "#username" ).change(function()
    {
        ws.send( "{\"action\" : \"user_info\", \"data\" : { \"username\" : \"" + $( this ).val() + "\"}}" );
    });


    function delete_pipeline(pipe_id)
    {
        $.ajax(
        {
            url: "http://{{ hostname }}/pipeline/" + pipe_id,
            type: "DELETE"
        }).fail(function()
        {
            alert( "ERROR" );
        }).done(function(txt) 
        {
            alert( "SUCCESS\n" + txt);
        })
    }
    function post_run(pipe_id)
    {
        if (bf.validate())
        {
            config = bf.getData()
            inputs = []

            $.ajax({ url: "http://{{ hostname }}/file", type: "GET", async: false}).done(function(jsonFile)
                {
                    data = jsonFile["data"];
                    for (var i=0; i<data.length; i++)
                    {
                        inputs[i] = (data[i]["id"], data[i]["file_name"])
                    }
                })

            config = JSON.stringify(config, null, 4)
            inputs = JSON.stringify(inputs, null, 4)


            $.ajax(
            {
                url: "http://{{ hostname }}/run",
                type: "POST",
                data: "{\"pipeline_id\" : \""+ pipe_id +"\", \"config\" : " + config + ", \"inputs\" : " + inputs + "}"
            }).fail(function()
            {
                alert( "ERROR" );
            }).done(function(txt) 
            {
                alert( "SUCCESS\n" + txt);
            })
        }
    }


    $(document).ready(function()
    {
        update_datagrid();
    });



    function update_datagrid()
    {
        $('#pipesList').DataTable();
        $('#runsList').DataTable();
        $('#filesList').DataTable();
    }

    function ws_new_pipeline(msg_data)
    {

    }

    function ws_new_run(msg_data)
    {

    }

    function ws_run_progress(msg_data)
    {
        var tdElement = $("#run-" + msg_data["id"] + "-progress")
        style="progress-bar "
        if (msg_data["id"] == "FAILLED") { style += "progress-bar-danger"}
        else if (msg_data["id"] == "DONE") { style += "progress-bar-success"}
        else if (msg_data["id"] == "PAUSE") { style += "progress-bar-warning"}
        else if (msg_data["id"] == "RUN") { style += "progress-bar-striped active"}
        else if (msg_data["id"] == "WAITING") { style += "progress-bar-warning progress-bar-striped active"}



        html = "<div class='progress'>\
                    <div class='" + style + "' role='progressbar' aria-valuenow='" + msg_data["progress"]["value"] + "' aria-valuemin='0' aria-valuemax='100' \
                         style='min-width: 2em; width: " + msg_data["progress"]["value"] + "%;'>\
                         " + msg_data["progress"]["label"] + " \
                    </div>\
                </div>"


        tdElement.html(html)

        // Todo : update controls
    }



    ws.onopen = function()
    {
        $message.attr("class", 'label label-success');
        $message.text('open');

        ws.send('{"action" : "authent", "data" : "Chrome"}')
    };
    ws.onmessage = function(ev)
    {
        $message.attr("class", 'label label-info');
        var json = JSON.parse(ev.data);

        dt = new Date()
        $message.html(dt.toLocaleTimeString() + ' ' + json["action"] + ' : ' + json["data"]);


        switch(json["action"])
        {
            case 'online_user':
                var uTxt = ""
                $.each(json["data"], function (idx, val)
                {
                    uTxt += "<li>" + val + "</li>"
                })
                $('#userList').html(uTxt)
                break;

            case 'run_progress':
                ws_run_progress(json["data"])
                break;

            // Todo
            // - PipeLst_update
        }
    };
    ws.onclose = function(ev)
    {
        $message.attr("class", 'label label-important');
        $message.text('closed');
    };
    ws.onerror = function(ev)
    {
        $message.attr("class", 'label label-warning');
        $message.text('error occurred');
    };
  </script>



</body>
</html> 
