<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pirus</title>


    <!-- Base -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">


    <!-- Form generator -->
    <link rel="stylesheet" href='/assets/brutusin/css/brutusin-json-forms.min.css'/>
    <script src="/assets/brutusin/js/brutusin-json-forms.min.js"></script>


    <!-- Pirus specific -->
    <link rel="stylesheet" href="/assets/blog.css"/>
    <link rel="stylesheet" href="/assets/progress.css"/>
    <link rel="stylesheet" href="/assets/font-awesome-4.6.3/css/font-awesome.min.css"/>

</head>
<body>


<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4" style="width:auto"> 
        <div class="header">
            <img src="/assets/logo.png" height="200px" style="margin-top:-200px; margin-right:20px;margin-bottom:100px;" />
            <h1 class="brand-title">  Pirus</h1>
            <h2 class="brand-tagline">Pipeline runner server</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/www/about"><i class="fa fa-code" aria-hidden="true"></i> Swagger</a>
                        <a class="pure-button" href="https://github.com/orgs/REGOVAR/dashboard"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                        <!--<a class="pure-button" href=""> <i class="fa fa-power-off" aria-hidden="true"></i> Disconnect</a>-->
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4" style="width:auto">



            <!-- A wrapper for all the blog posts -->
            <div>
                <h1 class="content-subhead"><i class="fa fa-retweet" aria-hidden="true"></i> WS [ <span id="message"></span> ]</h1>
                <h1 class="content-subhead"><i class="fa fa-user" aria-hidden="true"></i> Online</h1>
                <ul id="userList"></ul>

                <h1 class="content-subhead"><i class="fa fa-file-o" aria-hidden="true"></i> Files</h1>
                <form id="uploadFileForm" method="POST" enctype="multipart/form-data" action="http://{{ hostname }}/file" class="pure-form">
                <fieldset>
                    <div class="fileUpload pure-button">
                        <span><i class="fa fa-file-archive-o" aria-hidden="true"></i> Select a file</span>
                        <input type="file" name="uploadFile" id="uploadFile" class="upload" />
                    </div>
                    <input type="submit" value="Upload the file on the server" class="pure-button pure-button-primary"/>
                </fieldset>
                </form>
                <ul id="fileList">
                    {% if files|length ==0 %}
                    <i>No file available.</i>
                    {% endif %}
                    {% for f in files %}
                        <li><span style="display:inline-block; width:400px;">{{ f["file_name"] }}</span> 
                        <span style="display:inline-block; width:100px;">{{ f["file_size"] }}</span>
                        <span style="display:inline-block; width:100px;">{{ f["status"] }}</span>
                        <a class="pure-button" title="Information about the file" href="http://{{ hostname }}/file/{{f["id"]}}" target="_blanck"><i class="fa fa-info" aria-hidden="true"></i></a> 
                        <a class="pure-button" title="Download the file"          href="http://{{ hostname }}/dl/f/{{f["id"]}}" target="_blanck"><i class="fa fa-file" aria-hidden="true"></i></a>
                        </li>
                    {% endfor %}
                </ul>

                <h1 class="content-subhead"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Pipelines</h1>
                <ul id="pipesList">
                    {% if pipes|length ==0 %}
                    <i>No pipeline installed.</i>
                    {% endif %}
                    {% for p in pipes %}
                        <li><span style="display:inline-block; width:200px;">{{ p["name"] }}</span> 
                        <span style="display:inline-block; width:100px;">{{ p["version"] }}</span>
                        <a class="pure-button" title="Uninstall the pipeline package" onclick="javascript:delete_pipeline('{{p["id"]}}')"><i class="fa fa-trash" aria-hidden="true"></i></a> 
                        <a class="pure-button" title="Information about the pipeline" href="http://{{ hostname }}/pipeline/{{p["id"]}}" target="_blanck"><i class="fa fa-info" aria-hidden="true"></i></a> 
                        <a class="pure-button" title="Get Formular files information" href="http://{{ hostname }}/dl/p/{{p["id"]}}/form.json" target="_blanck"><i class="fa fa-file" aria-hidden="true"> form</i></a> 
                        <a class="pure-button" title="Get Config files information"   href="http://{{ hostname }}/dl/p/{{p["id"]}}/config.json" target="_blanck"><i class="fa fa-file" aria-hidden="true"> conf</i></a> 
                        <a class="pure-button" title="Run the pipeline"               onclick="javascript:init_run('{{p["id"]}}')"><i class="fa fa-play" aria-hidden="true"></i></a> 
                        </li>
                    {% endfor %}
                </ul>

                <h1 class="content-subhead"><i class="fa fa-tasks" aria-hidden="true"></i> Runs</h1>
                <ul id="runsList">
                    {% if runs|length ==0 %}
                    <i>No run in progress.</i>
                    {% endif %}
                    {% for p in runs %}
                        <li>
                        <span style="display:inline-block; width:350px;">{{ p["id"] }}</span> 
                        <div class="cssProgress">
                            <div class="progress3">
                                <div class="cssProgress-bar {{ p["status"] }} {% if p["status"] == "RUN" %}cssProgress-active{% endif -%}"  data-percent="{{ p["prog_val"] }}" style="width:{{ p["prog_val"] }}%;">
                                    <span class="cssProgress-label">{{ p["prog_val"] }}%</span> 
                                </div>
                            </div>
                        </div>
                        <span style="display:inline-block; width:100px;">{{ p["status"] }}</span>
                        <a class="pure-button" title="Information about the run" href="http://{{ hostname }}/run/{{p["id"]}}" target="_blanck"><i class="fa fa-info" aria-hidden="true"></i></a> 
                        <a class="pure-button" title="Output log file" href="http://{{ hostname }}/run/{{p["id"]}}/log" target="_blanck"><i class="fa fa-file-text-o" aria-hidden="true"> log</i></a>
                        <a class="pure-button" title="Error log file" href="http://{{ hostname }}/run/{{p["id"]}}/err" target="_blanck"><i class="fa fa-file-text-o" aria-hidden="true"> err</i></a>

                        </li>
                    {% endfor %}
                </ul>

                <br />
                <h1 class="content-subhead"><i class="fa fa-plus" aria-hidden="true"></i> Install a new pipeline</h1>

                <form id="installPackageForm" method="POST" enctype="multipart/form-data" action="http://{{ hostname }}/pipeline" class="pure-form">
                <fieldset>
                    <div class="fileUpload pure-button">
                        <span><i class="fa fa-file-archive-o" aria-hidden="true"></i> Select Pirus package</span>
                        <input type="file" type="file" name="pipepck" id="pipepck" class="upload" />
                    </div>
                    <input type="submit" value="Install a new pipeline" class="pure-button pure-button-primary"/>
                </fieldset>
                </form>


                <br />
                <h1 class="content-subhead"><i class="fa fa-play" aria-hidden="true"></i> Run a pipeline</h1>
                {% if pipes|length ==0 %}
                    <p><i>You need to install first a pipeline.</i></p>
                {% else %}
                    <p id="runFormContainer" style="width:500px"><i>Click on the play button of a pipeline to start</i></p>
                    <p id="runButtonContainer"></p>
                {% endif %}
            </div>

            
        </div>
    </div>
</div>

  <script>

    var ws = new WebSocket('ws://{{ hostname }}/ws');
    var $message = $('#message');
    var BrutusinForms = brutusin["json-forms"];
    var bf, schema
    function init_run(pipe_id)
    {
        // 1- retrieve pipe-config
        $.ajax(
        {
            url: "http://{{ hostname }}/dl/p/" + pipe_id + "/form.json",
            type: "GET"
        }).fail(function()
        {
            alert( "ERROR" );
        }).done(function(json) 
        {
            var json_final = json
            var json_db = []
            var json_files = []

            if (json.indexOf("__PIRUS_DB_ALL__") != -1)
            {

                // get list of database
                $.ajax({ url: "http://{{ hostname }}/db", type: "GET", async: false}).done(function(jsonDB)
                {
                    json_db = jsonDB["data"];
                })
                json_final = json_final.replace(/"__PIRUS_DB_ALL__"/g, JSON.stringify(json_db))
            }
            if (json.indexOf("__PIRUS_INPUT_FILES__") != -1)
            {

                // get list of database
                $.ajax({ url: "http://{{ hostname }}/file", type: "GET", async: false}).done(function(jsonFile)
                {
                    data = jsonFile["data"];
                    for (var i=0; i<data.length; i++)
                    {
                        json_files[i] = data[i]["file_name"] + " [" + data[i]["id"] + "]"
                    }
                })
                json_final = json_final.replace(/"__PIRUS_INPUT_FILES__"/g, JSON.stringify(json_files))
            }
            
            var config = {}
            $.ajax({ url: "http://{{ hostname }}/dl/p/" + pipe_id + "/config.json", type: "GET", async: false}).done(function(json)
            {
                config = json["data"];
            })

            
            schema = JSON.parse(json_final);
            schema["properties"]["runname"] = {
                    "title": "Nom du run",
                    "description": "Le nom qui sera affiché pour ce run.",
                    "type": "string",
                    "required": true
                }
            
            bf = BrutusinForms.create(schema);
            var container = document.getElementById('runFormContainer');
            container.innerText = ""
            bf.render(container, null);

            var container = document.getElementById('runButtonContainer');
            container.innerHTML = '<a class="pure-button" title="Run the pipeline" onclick="javascript:post_run('+ "'" + pipe_id + "'" + ')"><i class="fa fa-play" aria-hidden="true"></i></a>'
        })
    }



    

    $( "#username" ).change(function()
    {
        ws.send( "{\"action\" : \"user_info\", \"data\" : { \"username\" : \"" + $( this ).val() + "\"}}" );
    });


    function delete_pipeline(pipe_id)
    {
        $.ajax(
        {
            url: "http://{{ hostname }}/pipeline/" + pipe_id,
            type: "DELETE"
        }).fail(function()
        {
            alert( "ERROR" );
        }).done(function(txt) 
        {
            alert( "SUCCESS\n" + txt);
        })
    }
    function post_run(pipe_id)
    {
        if (bf.validate())
        {
            $.ajax(
            {
                url: "http://{{ hostname }}/run",
                type: "POST",
                data: "{\"pipeline_id\" : \""+ pipe_id +"\", \"config\" : " + JSON.stringify(bf.getData(), null, 4) + "}"
            }).fail(function()
            {
                alert( "ERROR" );
            }).done(function(txt) 
            {
                alert( "SUCCESS\n" + txt);
            })
        }
    }


    $(document).ready(function()
    {
        
    });








    ws.onopen = function()
    {
        $message.attr("class", 'label label-success');
        $message.text('open');

        ws.send('{"action" : "authent", "data" : "Chrome"}')
    };
    ws.onmessage = function(ev)
    {
        $message.attr("class", 'label label-info');
        var json = JSON.parse(ev.data);

        dt = new Date()
        $message.html(dt.toLocaleTimeString() + ' ' + json["action"] + ' : ' + json["data"]);


        switch(json["action"])
        {
            case 'online_user':
                var uTxt = ""
                $.each(json["data"], function (idx, val)
                {
                    uTxt += "<li>" + val + "</li>"
                })
                $('#userList').html(uTxt)
                break;

            case 'run_progress':
                var uTxt = ""
                $.each(json["data"], function (idx, val)
                {
                    style="cssProgress-bar " + val["status"]
                    if (val["status"] == "RUN" )
                    {
                        style+=" cssProgress-active";
                    }

                    uTxt += "<li>\
                        <span style='display:inline-block; width:350px;'>" + val["id"] + "</span>\
                        <div class='cssProgress'>\
                            <div class='progress3'>\
                                <div class='" + style + "' data-percent='" + val["prog_val"] + "' style='width:" + val["prog_val"] + "%;'>\
                                    <span class='cssProgress-label'>" + val["prog_val"] + "%</span>\
                                </div>\
                            </div>\
                        </div>\
                        <span style='display:inline-block; width:100px;'>" + val["status"] + "</span>\
                        <a class='pure-button' title='Information about the run' href='http://{{ hostname }}/run/" + val["id"] + "' target='_blanck'><i class='fa fa-info' aria-hidden='true'></i></a> \
                        <a class='pure-button' title='Output log file' href='http://{{ hostname }}/run/" + val["id"] + "/log' target='_blanck'><i class='fa fa-file-text-o' aria-hidden='true'> out</i></a> \
                        <a class='pure-button' title='Error log file' href='http://{{ hostname }}/run/" + val["id"] + "/err' target='_blanck'><i class='fa fa-file-text-o' aria-hidden='true'> err</i></a> \
                        </li>\n"
                })
                $('#runsList').html(uTxt)
                break;

            // Todo
            // - PipeLst_update
        }
    };
    ws.onclose = function(ev)
    {
        $message.attr("class", 'label label-important');
        $message.text('closed');
    };
    ws.onerror = function(ev)
    {
        $message.attr("class", 'label label-warning');
        $message.text('error occurred');
    };
  </script>



</body>
</html> 
