---
swagger: '2.0'
host: api.pirus.org 
basePath: /v1 

info:
  version: 0.0.1
  title: Pirus API
  description: Pirus API documentation

schemes: 
  - https

produces:
  - application/json

#=============================================
# =============== ENDPOINT ===================
#=============================================

paths:
# CONFIG HANDLER------------------------------

  /config:
    get:
      summary: return api information
      responses:
        200:
          description: api information 
          schema:
            $ref: "#/definitions/Config"
 
 # PIPELINE HANDLER---------------------------           
  /pipelines:
    get:
      responses:
        200:
          description: list of pipelines
          schema:
            type: array 
            items:
              $ref: "#/definitions/Pipeline"
# -- 

    post:
      responses:
        200:
          description: list of pipelines
          schema:
            type: array 
            items:
              $ref: "#/definitions/Pipeline"

# -- 
              
  /pipelines/{id}:
    post:
      parameters: 
        - name: id
          in: path
          description: ID of pipeline
          required: true
          type: integer
          format: int64
        
      responses:
        200:
          description: list of pipelines
          schema:
              $ref: "#/definitions/Pipeline"

          
#=============================================
# ============ MODEL ========================= 
#=============================================

# OBJECT CONFIG ------------------------------
definitions:
  Config: 
    type: object 
    properties: 
      version:  
        type: string 
        description: api version 
    
# OBJECT PIPELINE ----------------------------:
  Pipeline: 
    type: object 
    properties: 
      name:  
        type: string 
        description: pipeline name
      version:
        type: string 
        description: pipeline version 
      description:
        type: string 
      path:
        type: string 
      license:
        type: string 
      developer:
        type: string 
        
# OBJECT Run ----------------------------:
  Run: 
    type: object 
    properties: 
      pipeline_id:
        type: string
      celery_id:
        type: string
      start:
        type: string
        description: date of start 
      end:
        type: string 
        description: date of end 
      status:
        type: string 
      
    
          
        
        
        